torchvision
git+https://github.com/openvinotoolkit/open_model_zoo.git@2022.1.0#subdirectory=tools/accuracy_checker
git+https://github.com/openvinotoolkit/openvino.git@2022.1.0#subdirectory=tools/benchmark_tool
