default_language_version:
  python: python3

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.10
    hooks:
      - id: ruff-check
        args: [--fix, --show-fixes]
      - id: ruff-format
        types_or: [ python, pyi ]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config=.ci/markdownlint.yaml]

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell
        args:
          - --config=.ci/cspell.json
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --gitignore
          - --files
        files: (^nncf/.*\.py$|.*\.md$)
