*  @openvinotoolkit/nncf_pytorch-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins

# Control 3d party dependencies
**/*requirements*.*  @openvino-configuration-mgmt
**/setup.py  @openvino-configuration-mgmt
