*  @openvinotoolkit/nncf-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins

# Control 3d party dependencies
requirements.txt  @openvinotoolkit/openvino-configuration-mgmt
**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
