# Openvino
openvino==2024.0.0
openvino-dev==2024.0.0

# Pytorch
torch==2.2.1
torchvision==0.17.1

# ONNX
onnx==1.13.1
onnxruntime==1.14.1

# TensorFlow
tensorflow==2.12.1

# Tests and examples
pytest==8.0.2
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-dependency==0.6.0

accelerate==0.24.1
addict==2.4.0
datasets==2.14.7
evaluate==0.3.0
fastdownload==0.0.7
scikit-learn==1.2.2
transformers==4.36.0
ultralytics==8.0.170
