line-length = 120
exclude = ["nncf/tensorflow/__init__.py"]

[lint]
preview = true
ignore-init-module-imports = true
ignore = [
    "E201", # whitespace-after-open-bracket
    "E203", # whitespace-before-punctuation
    "E231", # missing-whitespace
    "E251", # unexpected-spaces-around-keyword-parameter-equals
    "E731",  # lambda-assignment
    "SIM108",  # if-else-block-instead-of-if-exp
    "SIM110",  # reimplemented-builtin
    "SIM117",  # multiple-with-statements
    "SIM103", # needless-bool
    "NPY002", # numpy-legacy-random
]
select = [
    "E",  # pycodestyle rules
    "F",  # pyflakes rules
    "CPY001",  # copyright check
    "NPY", # numpy rules
]
extend-select = [
    "SIM",  # https://pypi.org/project/flake8-simplify
]

[lint.per-file-ignores]
"nncf/experimental/torch/nas/bootstrapNAS/__init__.py" = ["F401"]
"nncf/torch/__init__.py" = ["F401", "E402"]
"tests/**/*.py" = ["F403"]
"tests/**/__init__.py" = ["F401"]
"examples/**/*.py" = ["F403"]


[lint.flake8-copyright]
notice-rgx = """\
# Copyright \\(c\\) (\\d{4}|\\d{4}-\\d{4}) Intel Corporation
# Licensed under the Apache License, Version 2.0 \\(the "License"\\);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#      http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
"""
