-c ../../constraints.txt
-r ../../examples/torch/requirements.txt
onnx
onnxruntime
pytest
pytest-cov
pytest-dependency
pytest-mock
pytest-xdist
torch
virtualenv

# Required for search_building_blocks tests
accelerate==0.28.0
transformers==4.38.2

# Required for movement_sparsity tests
datasets==3.0.1
evaluate==0.3.0
openvino
timm==0.9.2


# Required for torch/fx tests
torchvision
fastdownload==0.0.7
