-c ../../constraints.txt
-r ../../examples/torch/requirements.txt
onnx
onnxruntime
pytest
pytest-cov
pytest-dependency
pytest-mock
torch
virtualenv

# Required for search_building_blocks tests
accelerate
transformers

# Required for movement_sparsity tests
datasets
evaluate
openvino-dev
timm
