yattag>=1.14.0
prettytable>=2.0.0
# Required for test_algo_common not to fail because of google namespace issues
protobuf==3.14.0
onnx>=1.8.0
onnxruntime==1.6.0
pytest-mock>=3.3.1
pytest-dependency>=0.5.1