torch==2.9.0
transformers==4.53.0
openvino==2026.0.0rc4
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly --pre
optimum-intel[openvino]==1.27.0
optimum-onnx==0.1.0
optimum==2.1.0
onnx==1.17.0
onnxruntime==1.21.1
datasets==4.5.0
