--extra-index-url https://download.pytorch.org/whl/cpu
torch
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision
onnx
onnxruntime
pytest
openvino>=2022.1
openvino-dev>=2022.1
timm
texttable
sklearn