-c ../../constraints.txt
torch
torchvision
onnx
onnxruntime
openvino
pytest
pytest-forked

librosa==0.10.0
memory-profiler==0.61.0
#optimum-intel==1.15.2
optimum==1.17.1
scikit-learn>=1.2.2,<=1.5.0
soundfile==0.12.1
tensorboard==2.13.0
tensorflow-io==0.32.0
timm==0.9.2
transformers==4.38.2
whowhatbench @ git+https://github.com/openvinotoolkit/openvino.genai.git@42096011f3fc822ccbefc8b70a73a599e154de6d#subdirectory=tools/who_what_benchmark
datasets==2.21.0
