whowhatbench @ git+https://github.com/AlexanderDokuchaev/openvino.genai@a26c9b20d07209f035f6d74aeae94d6a72a132ab#subdirectory=tools/who_what_benchmark
numpy==1.26.4
openvino==2026.4.0rc2
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly --pre
optimum-intel==2.1.0
optimum==2.3.0
transformers==5.5.0
onnx==1.22.0
torch==2.13.0
