datasets
whowhatbench @ git+https://github.com/openvinotoolkit/openvino.genai.git#subdirectory=tools/who_what_benchmark
numpy>=1.23.5
openvino==2024.4
optimum-intel[openvino]>=1.19.0
transformers>=4.35.2
onnx<1.16.2
