PyYAML
tensorflow_addons~=0.20.0
pytest==8.0.2
pytest-cov
pytest-mock
pytest-dependency
pydot
tensorflow_hub
virtualenv

# filelock 3.12.3 requires typing-extensions>=4.7.1, but tensorflow 2.12.1 requires typing-extensions<4.6.0,>=3.6.6
# TODO: remove after upgrade to TF 2.13
filelock<3.12.3
openvino-dev==2024.1
