-c ../../constraints.txt
-r ../../examples/tensorflow/requirements.txt
PyYAML
tensorflow-metadata==1.13.0
pytest
pytest-cov
pytest-mock
pytest-dependency
pytest-xdist
pydot
tensorflow_hub
virtualenv

openvino
