-c ../../constraints.txt

--extra-index-url https://download.pytorch.org/whl/cpu
torch
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision

pytest
scikit-learn
timm
transformers

av==11.0.0
sentencepiece==0.1.99
protobuf==3.20.3
