--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0
transformers==4.35.0
pytest
timm==0.9.2
scikit-learn==1.2.2
av==11.0.0
