fastdownload==0.0.7
fastprogress==1.0.5
fastcore==1.11.5
openvino==2026.0.0.*
--extra-index-url https://storage.openvinotoolkit.org/repositories/openvino/packages/pre-release/ --pre
torch==2.9.0
torchvision==0.24.0
