transformers==4.53.0
openvino==2025.4.0.*
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release --pre
optimum-intel[openvino]==1.26.0
optimum-onnx==0.0.3
optimum==2.0.0
onnx==1.19.1
onnxruntime==1.21.1
torch==2.9.0
