torch==2.13.0
datasets==5.0.1
numpy>=1.23.5,<2
openvino==2026.4.0rc2
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly --pre
optimum-intel==2.1.0
optimum==2.3.0
transformers==5.5.0
onnx==1.22.0
