tensorboard==2.13.0
torch==2.9.0
numpy>=1.23.5,<2
openvino==2026.0.0rc4
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly --pre
optimum-intel==1.27.0
optimum-onnx==0.1.0
optimum==2.1.0
transformers==4.53.0
lm_eval==0.4.8
