fastdownload==0.0.7
onnx==1.13.1
openvino-dev==2023.1
pycocotools==2.0.7
torch==2.0.1  # ssd300_vgg16 can not be exported with 2.1.0: Unsupported: ONNX export of operator get_pool_ceil_padding
torchmetrics==1.0.1
torchvision==0.15.2
