fastdownload==0.0.7
onnx==1.17.0
openvino==2025.1.0.*
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release --pre
pycocotools==2.0.7
torch==2.6.0
torchmetrics==1.0.1
torchvision==0.21.0
numpy<2
setuptools<=72.1.0
