absl-py==0.10
addict
networkx
tensorflow==2.4.0
tensorflow_datasets==4.2.0
tensorflow_addons==0.12.0
tensorflow_hub
texttable
opencv-python
pytest
pytest-mock
pytest-dependency
jsonschema==3.2.0
pydot
yattag>=1.14.0
prettytable>=2.0.0
scipy>=1.3.2
git+https://github.com/alexsu52/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
