datasets==4.5.0
openvino==2026.0.0rc2
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly --pre
optimum-intel[openvino]==1.27.0
optimum-onnx==0.1.0
optimum==2.1.0
transformers==4.53.0
onnx==1.17.0
torch==2.9.0
torchvision==0.24.0
