-c ../../constraints.txt
fastdownload==0.0.7
onnx
openvino
pytest
pytest-cov
pytest-mock
pytest-xdist
torch
torchvision
virtualenv
addict>=2.4.0
timm==0.9.2
efficientnet_pytorch==0.7.1
datasets==3.0.1
transformers==4.45.2
optimum-intel==1.20.0
optimum==1.23.1
