pytest==7.4.4
virtualenv
pytest-cov
pytest-mock>=3.3.1
openvino-dev[onnx,pytorch,tensorflow2]==2023.3
torch==2.1
fastdownload
git+https://github.com/openvinotoolkit/open_model_zoo.git@37f60eb#egg=accuracy_checker&subdirectory=tools/accuracy_checker
