name: API changes check
permissions: read-all

on:
  pull_request:
    branches:
      - develop

env:
  API_DOC_HTML_ROOT_RELATIVE_PATH: autoapi

concurrency:
  group: ci-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  call-build-api-doc:
    uses: ./.github/workflows/build_html_doc.yml
    with:
      ref: "refs/pull/${{ github.event.number }}/merge"
  compare-api-doc-with-develop:
    timeout-minutes: 30
    needs: call-build-api-doc
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Download built HTML doc as artifact from previous step
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: html_doc_artifact
      - run: |
          tar -xvf artifact.tar
          rm artifact.tar
        shell: 'bash'
      - name: Checkout latest doc_pages branch tip
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: doc_pages
          path: previous_doc_state
      - name: Get changed file names in API doc path
        id: diff
        run: |
          cd "html_build/html/$API_DOC_HTML_ROOT_RELATIVE_PATH"
          CHANGED_FILES=$(find . -name "*.html" -exec diff -qrBZ {} "$GITHUB_WORKSPACE/previous_doc_state/$API_DOC_HTML_ROOT_RELATIVE_PATH/{}" \;)
          echo "${CHANGED_FILES}"
          CHANGED_FILES=$(echo "$CHANGED_FILES" | tr '\n' ' ')
          echo "changed_files=${CHANGED_FILES}" >> "$GITHUB_OUTPUT"

      - name: Add label
        if: ${{ contains(steps.diff.outputs.changed_files, 'differ') }}
        run: |
          echo '{"pr_number": "${{ github.event.pull_request.number }}", "action": "add"}' > api_status.json

      - name: Remove label
        if: ${{ !(contains(steps.diff.outputs.changed_files, 'differ')) && contains(github.event.pull_request.labels.*.name, 'API') }}
        run: |
          echo '{"pr_number": "${{ github.event.pull_request.number }}", "action": "remove"}' > api_status.json

      - name: No change label
        if: ${{ !(contains(steps.diff.outputs.changed_files, 'differ')) && !contains(github.event.pull_request.labels.*.name, 'API') }}
        run: |
          echo '{"pr_number": "${{ github.event.pull_request.number }}", "action": "none"}' > api_status.json

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: api_status
          path: api_status.json
