name: HTML documentation build
permissions: read-all

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
jobs:
  build-html:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.10.14
      - name: Install NNCF and doc requirements
        run: |
          pip install .
          pip install -r docs/api/requirements.txt
      - name: Build API docs
        run: |
          sphinx-build -M html docs/api/source html_build
      - name: Archive built HTMLs
        shell: bash
        run: tar -czf artifact.tar html_build/html
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: html_doc_artifact
          path: artifact.tar
