name: Build complete docs and publish to GH Pages
permissions: read-all

on:
  push:
    branches:
      - develop

env:
  GH_PAGES_BRANCH: doc_pages

concurrency:
  group: ci-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  call-build-html-doc:
    uses: ./.github/workflows/build_html_doc.yml
    with:
      ref: ${{ github.ref }}
  publish:
    needs: [call-build-html-doc]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout main repo  # the github-pages-deploy-action seems to require this step
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download HTML doc build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: html_doc_artifact

      - name: Extract artifact
        shell: 'bash'
        run: |
          tar -xvf artifact.tar
          rm artifact.tar

      - name: Publish built docs on Github Pages branch ${{ env.GH_PAGES_BRANCH }}
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          folder: html_build/html
          token: ${{ secrets.PUSH_TO_GH_PAGES_BRANCH }}
          branch: ${{ env.GH_PAGES_BRANCH }}
