name: Config schema HTML build
on:
  workflow_call:
jobs:
  build-config-schema-html:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          pip install json-schema-for-humans
          pip install -e .
          python -c 'import jstyleson; from nncf.config import NNCFConfig; jstyleson.dump(NNCFConfig.schema(), open("./schema.json", "w"), indent=2)'
          mkdir schema
          generate-schema-doc --deprecated-from-description schema.json schema/index.html

      - name: Upload result as artifact
        uses: alehechka/upload-tartifact@v2
        with:
          name: schema_doc_artifact
          path: schema
