name: Build complete docs and publish to GH Pages
permissions: read-all

on:
  push:
    branches:
      - develop

env:
  GH_PAGES_BRANCH: doc_pages

concurrency:
  group: ci-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  call-build-html-doc:
    uses: ./.github/workflows/build_html_doc.yml
    with:
      ref: ${{ github.ref }}
  call-build-schema-page:
    uses: ./.github/workflows/build_schema_page.yml
  publish:
    needs: [call-build-html-doc, call-build-schema-page]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout main repo  # the github-pages-deploy-action seems to require this step
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Download HTML doc build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: html_doc_artifact
      - name: Extract artifact
        shell: 'bash'
        run: |
          tar -xvf artifact.tar
          rm artifact.tar

      - name: Download schema doc build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: schema_doc_artifact
          path: html_build/html
      - name: Extract artifact
        shell: 'bash'
        working-directory: html_build/html
        run: |
          tar -xvf artifact.tar
          rm artifact.tar

      - name: Publish built docs on Github Pages branch ${{ env.GH_PAGES_BRANCH }}
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          folder: html_build/html
          token: ${{ secrets.PUSH_TO_GH_PAGES_BRANCH }}
          branch: ${{ env.GH_PAGES_BRANCH }}
