name: call-precommit
permissions: read-all

on:
  workflow_call:
    inputs:
      python_version:
        description: 'Python version'
        type: string
        required: true
      gpu_enabled:
        description: 'Enable gpu tests'
        type: boolean
        default: false
      override_requirements:
        description: 'Override requirements'
        default: ''
        type: string
        required: false

jobs:
  common:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Override constraints
        if: ${{ inputs.override_requirements != '' }}
        run: python .github/scripts/override_constraints.py "${{ inputs.override_requirements }}"
        shell: bash
      - name: Install NNCF and test requirements
        run: uv pip install --system . -r tests/common/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run common precommit test scope
        run: make test-common
        env:
          NUM_WORKERS: 2

  onnx:
    timeout-minutes: 40
    runs-on: ubuntu-latest-8-cores
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Override constraints
        if: ${{ inputs.override_requirements != '' }}
        run: python .github/scripts/override_constraints.py "${{ inputs.override_requirements }}"
        shell: bash
      - name: Install NNCF and test requirements
        run: uv pip install --system . -r tests/onnx/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run ONNX precommit test scope
        run: make test-onnx
        env:
          NUM_WORKERS: 4

  openvino:
    timeout-minutes: 40
    runs-on: ubuntu-latest-8-cores
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Override constraints
        if: ${{ inputs.override_requirements != '' }}
        run: python .github/scripts/override_constraints.py "${{ inputs.override_requirements }}"
        shell: bash
      - name: Install NNCF and test requirements
        run: uv pip install --system . -r tests/openvino/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run OV precommit test scope
        run: make test-openvino
        env:
          NUM_WORKERS: 4

  tools:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Install test requirements
        run: uv pip install --system . -r tests/tools/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run tools precommit test scope
        run: pytest -ra tests/tools

  pytorch-cpu:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Override constraints
        if: ${{ inputs.override_requirements != '' }}
        run: python .github/scripts/override_constraints.py "${{ inputs.override_requirements }}"
        shell: bash
      - name: Install NNCF and test requirements
        run: uv pip install --system . -r tests/torch/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run torch precommit test scope
        run: pytest -ra -n2 --durations=30 tests/torch -m "not cuda"

  pytorch-cuda:
    timeout-minutes: 40
    runs-on: aks-linux-4-cores-28gb-gpu-tesla-t4
    if: ${{ inputs.gpu_enabled == true }}
    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Install dependencies
        run : |
          sudo apt-get update
          sudo apt-get --assume-yes install build-essential ninja-build libgl1-mesa-dev libglib2.0-0 wget make
      - name: Download CUDA
        run: |
          wget -q https://developer.download.nvidia.com/compute/cuda/12.6.3/local_installers/cuda_12.6.3_560.35.05_linux.run
          sudo sh cuda_12.6.3_560.35.05_linux.run --toolkit --silent
      - name: Runner info
        continue-on-error: true
        run: |
          export PATH=/usr/local/cuda-12.4/bin${PATH:+:${PATH}}
          export LD_LIBRARY_PATH=/usr/local/cuda-12.4/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
          nvidia-smi
          cat /proc/cpuinfo
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Override constraints
        if: ${{ inputs.override_requirements != '' }}
        run: python .github/scripts/override_constraints.py "${{ inputs.override_requirements }}"
        shell: bash
      - name: Install NNCF and test requirements
        run: uv pip install --system . -r tests/torch/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Check CUDA
        run: |
          python -c "import torch; print(torch.cuda.is_available())"
      - name: Run PyTorch precommit test scope
        run: |
          export PATH=/usr/local/cuda-12.4/bin${PATH:+:${PATH}}
          export LD_LIBRARY_PATH=/usr/local/cuda-12.4/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
          pytest -ra --durations=30 tests/torch -m cuda
