name: Check Documentation
permissions: read-all

on:
  pull_request:

jobs:
  check_docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12
      - name: Install test requirements
        run: pip install -r tests/docs/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run pytest
        run: pytest -ra tests/docs
