name: Check Documentation
permissions: read-all

on:
  pull_request:

jobs:
  check_docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10.14"
      - name: Install test requirements
        run: pip install -r tests/docs/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run pytest
        run: pytest -ra tests/docs
