name: Check Documentation
permissions: read-all

on:
  pull_request:

jobs:
  check_docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10.14"
      - name: Install test requirements
        run: pip install -r tests/docs/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run pytest
        run: pytest -ra tests/docs
