name: Weight compression
permissions: read-all

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: 'The pull request number'
        default: ''
      pytest_args:
        description: 'Pytest arguments'
        default: ''

jobs:
  examples-cpu:
    name: Weight compression [${{ matrix.group }}/4]
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        group: [1, 2, 3, 4]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
            lfs: true
            fetch-depth: 0  # Fetch full history to allow checking out any branch or PR
      - name: Fetch and Checkout the Pull Request Branch
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pull_request_number != '' }}
        run: |
          git fetch origin pull/${{ github.event.inputs.pull_request_number }}/head:pr-${{ github.event.inputs.pull_request_number }}
          git checkout pr-${{ github.event.inputs.pull_request_number }}
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.10.14
      - name: cpuinfo
        run: cat /proc/cpuinfo
      - name: Install NNCF and test requirements
        run: pip install -e . -r tests/post_training/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run examples test scope
        run: |
          set +e
          python -m pytest -s -ra tests/post_training/test_quantize_conformance.py::test_weight_compression \
            --junit-xml=pytest-results.xml \
            --durations-path=tests/post_training/data/wc_test_durations.json \
            --splitting-algorithm=least_duration \
            --splits 4 \
            --group ${{ matrix.group }} \
            ${{ github.event.inputs.pytest_args || '' }}
          ret=$?
          [ $ret -eq 5 ] && [ -n "${{ github.event.inputs.pytest_args || '' }}" ]  && exit 0 || exit $ret
        env:
          TQDM_DISABLE: 1
          HOME_HF: "/home/runner/hf_home"
      - name: Print results.csv
        if: ${{ !cancelled() }}
        run: column -s, -t < tmp/results.csv || echo "no file"
      - name: Upload artifact
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: wc_results_${{ matrix.group }}
          path: tmp/results.csv
      - name: Test Summary
        if: ${{ !cancelled() }}
        run: |
          pip install defusedxml==0.7.1
          python .github/scripts/pytest_md_summary.py pytest-results.xml >> $GITHUB_STEP_SUMMARY
