name: ExecuTorch
permissions: read-all
 
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths: 
       - 'src/nncf/experimental/quantization/algorithms/range_estimator/*'
       - 'src/nncf/experimental/quantization/algorithms/post_training/*'
       - 'src/nncf/experimental/quantization/algorithms/weight_compression/*'
       - 'tests/torch2/fx/*'
       - 'src/nncf/experimental/torch/fx/*'
       - 'src/nncf/quantization/algorithms/algorithm.py'

jobs:
  executorch:
    timeout-minutes: 40
    runs-on: ubuntu-latest-8-cores
    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Install dependencies
        run : |
          sudo apt-get update
          sudo apt-get --assume-yes install gcc g++ build-essential ninja-build libgl1-mesa-dev libglib2.0-0
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: true
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10.14"
      - name: Runner info
        continue-on-error: true
        run: |
          cat /etc/*release
          cat /proc/cpuinfo
      - name: Install NNCF and test requirements
        run: |
          # Torchao installation requires pytorch to be installed first.
          pip install . -r tests/executorch/requirements.txt
      - name: Print installed modules
        run: pip list
      - name: Run PyTorch precommit test scope
        run: |
          pytest -ra tests/executorch
