name: ExecuTorch
permissions: read-all
 
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths: 
       - 'src/nncf/experimental/quantization/algorithms/range_estimator/*'
       - 'src/nncf/experimental/quantization/algorithms/post_training/*'
       - 'src/nncf/experimental/quantization/algorithms/weight_compression/*'
       - 'tests/torch2/fx/*'
       - 'src/nncf/experimental/torch/fx/*'
       - 'src/nncf/quantization/algorithms/algorithm.py'

concurrency:
  cancel-in-progress: true

jobs:
  executorch:
    timeout-minutes: 40
    runs-on: ubuntu-latest-8-cores
    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive
    with:
      python_version: "3.10.14"
    steps:
      - name: Install dependencies
        run : |
          sudo apt-get update
          sudo apt-get --assume-yes install gcc g++ build-essential ninja-build libgl1-mesa-dev libglib2.0-0
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: true
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ inputs.python_version }}
      - name: Runner info
        continue-on-error: true
        run: |
          cat /etc/*release
          cat /proc/cpuinfo
      - name: Install NNCF and test requirements
        run: |
          pip install . -r tests/executorch/requirements.txt
          # Executorch
          # Editable install due to https://github.com/pytorch/executorch/issues/6475
          pip install --no-build-isolation -e git+https://github.com/anzr299/executorch.git@an/quantizer_nncf_pt2e_support#egg=executorch
      - name: Print installed modules
        run: pip list
      - name: Run PyTorch precommit test scope
        run: |
          pytest -ra tests/executorch
