name: Model Hub
permissions: read-all

on:
  workflow_dispatch:

jobs:
  torch:
    runs-on: ubuntu-20.04-16-cores
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: 3.10.14
      - name: Install NNCF and test requirements
        run: make install-models-hub-torch

      - name: Run models-hub-torch test scope
        run: make test-models-hub-torch
