name: mypy
permissions: read-all

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  mypy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: 3.8.18
      - name: Install NNCF
        run: pip install -e .
      - name: Install mypy
        run: pip install mypy==1.8.0
      - name: Run mypy
        run: mypy --install-types --config-file=.mypy.ini --non-interactive
