name: mypy
permissions: read-all

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '.github/workflows/mypy.yml'
      - 'pyproject.toml'
      - '**.py'
      - '**.pyi'

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.10.14
      - name: Install NNCF
        run: |
          pip install . torch -c constraints.txt
      - name: Install mypy
        run: pip install mypy==1.8.0
      - name: Run mypy
        run: mypy --install-types --non-interactive
