name: mypy
permissions: read-all

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '.github/workflows/mypy.yml'
      - 'pyproject.toml'
      - '**.py'
      - '**.pyi'

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.10.14
      - name: Install NNCF
        run: |
          pip install . torch tensorflow -c constraints.txt
      - name: Install mypy
        run: pip install mypy==1.8.0
      - name: Run mypy
        run: mypy --install-types --non-interactive
