name: mypy
permissions: read-all

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '.github/workflows/mypy.yml'
      - 'pyproject.toml'
      - '**.py'
      - '**.pyi'

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.10.14
      - name: Install NNCF
        run: |
          pip install . torch -c constraints.txt
      - name: Install mypy
        run: pip install mypy==1.8.0
      - name: Run mypy
        run: mypy --install-types --non-interactive
