name: mypy
permissions: read-all

on:
  workflow_dispatch:

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.10.14
      - name: Install NNCF
        run: |
          pip install . torch -c constraints.txt
      - name: Install mypy
        run: pip install mypy==1.8.0
      - name: Run mypy
        run: mypy --install-types --non-interactive
