name: nightly
permissions: read-all

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  md-dead-link-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: AlexanderDokuchaev/md-dead-link-check@cc3ed55268899a1a6d5fd7068abbc4591eab1f74 # v0.9
        with:
          config: md_dead_link_check.toml
