name: nightly
permissions: read-all

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  install:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/install.yml

  examples:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/examples.yml

  md-dead-link-check:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'openvinotoolkit'
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: AlexanderDokuchaev/md-dead-link-check@d5a37e0b14e5918605d22b34562532762ccb2e47 # v1.2.0

  weight-compression:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/conformance_weight_compression.yml

  precommit-windows:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/call_precommit_windows.yml
    with:
      python_version: "3.12.10"
