name: nightly
permissions: read-all

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  install:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/install.yml

  examples:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/examples.yml
    with:
      skip_windows: false
      skip_gpu: false

  md-dead-link-check:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'openvinotoolkit'
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: AlexanderDokuchaev/md-dead-link-check@5b5641a92ec95d13a5b04927e0e11de5c3405298 # v1.3.0

  weight-compression:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/conformance_weight_compression.yml

  precommit-windows:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/call_precommit_windows.yml
    with:
      python_version: "3.10"

  precommit-ubuntu:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/call_precommit.yml
    with:
      python_version: "3.10.14"
      gpu_enabled: true

  gptqmodel:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/gptqmodel.yml
