name: weekly
permissions: read-all

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  precommit:
    if: github.repository_owner == 'openvinotoolkit'
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.9", "3.11", "3.12"]
    uses: ./.github/workflows/call_precommit.yml
    with:
      python_version: ${{ matrix.python_version }}
      gpu_enabled: false

  macos:
    if: github.repository_owner == 'openvinotoolkit'
    uses: ./.github/workflows/macos.yml
